.drop_menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.arrow_rewerse {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}
.menu_buttom {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.drop_menu_list {
  display: none;

  transition: transform 1s linear;
}

.drop_menu_list_dropped {
  position: absolute;
  top: 20px;
  z-index: 99;
  width: 25vw;
  max-width: 270px;
  height: max-content;
  padding-left: 20px;
  color: black;
  border-radius: 20px;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  transform: translateY(0);
  background-color: rgb(255, 255, 255);
  padding: 16px 30px;
}

.drop_menu_item {
  padding: 16px 30px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.drop_menu_item:hover {
  list-style-type: disc;
}

@media (max-width: 750px) {
  .drop_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  .drop_menu_list_dropped {
    top: 0;
    left: -10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 16px;
    transition: max-height 1s;
  }

  .drop_menu_list_dropped li {
    margin-top: 15px;
  }

  .drop_menu_list_dropped li:last-child {
    margin-bottom: 15px;
  }
  .drop_menu_item:hover {
    background-color: rgb(210, 210, 210);
  }
  .drop_menu_item {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
