@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.dropMenu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.rewerse {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}
.menuButtom {
  font-family: "IBM Plex Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #636363;
}

.dropMenuList {
  display: none;
  transition: transform 1s linear;
}

.dropMenuListDropped {
  width: 100%;
  max-width: 270px;
  height: max-content;
  color: black;
  border-radius: 20px;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  transform: translateY(0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.dropMenuItem {
  display: flex;

  align-items: center;
  padding: 16px 0px;
  text-align: left;

  cursor: pointer;
}

.drop_menu_item:hover {
  list-style-type: disc;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 16px 0px;
}

.inp {
  width: 110px;
  height: 52px;
  padding: 13px 12px;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid black;
  opacity: 0px;
  background-color: white;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
